/* INFORMAÇÕES (antes .about) */

.informacoes .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.informacoes .row .image {
    flex: 1 1 42rem;
}

.informacoes .row .image img {
    width: 100%;
    animation: aboutImage 4s linear infinite;
}

.informacoes .row .content {
    flex: 1 1 42rem;
}

.informacoes .row .content .title {
    color: var(--main-color);
    font-size: 3rem;
    line-height: 1.8;
}

.informacoes .row .content p {
    color: var(--main-color);
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 1rem 0;
}

.informacoes .row .content .icons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 3rem;
}

.informacoes .row .content .icons-container .icons {
    flex: 1 1 15rem;
    padding: 1.5rem;
    text-align: center;
    border: var(--border);
    border-radius: var(--border-radius);
}

.informacoes .row .content .icons-container .icons img {
    height: 5rem;
}

.informacoes .row .content .icons-container .icons h3 {
    font-size: 1.7rem;
    padding-top: 1rem;
    color: var(--main-color);
}


/* MANUAL (antes .menu) */

.manual {
    background: url(../image/menu-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.manual .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.manual .box-container .box {
    flex: 1 1 42rem;
    padding: 2rem;
    border: var(--border);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: 6rem;
}

.manual .box-container .box:hover {
    border: var(--border-hover);
    border-radius: var(--border-radius-hover);
}

.manual .box-container .box img {
    height: 8rem;
    margin-left: -6rem;
}

.manual .box-container .box .content h3 {
    font-size: 2.2rem;
    color: var(--main-color);
    line-height: 1.8;
}

.manual .box-container .box .content p {
    font-size: 1.6rem;
    color: var(--main-color);
    line-height: 1.8;
    padding: 1rem 0;
}

.manual .box-container .box .content span {
    font-size: 2rem;
    color: var(--main-color);
    line-height: 1.8;
}


/* MATÉRIAS (antes .review) */

.materias .review-slider {
    padding: 7rem 0;
}

.materias .review-slider .box {
    border: var(--border);
    border-radius: var(--border-radius);
    text-align: center;
    position: relative;
    z-index: 0;
    padding: 2rem;
}

.materias .review-slider .box:hover .fa-quote-left {
    top: -6.5rem;
}

.materias .review-slider .box:hover .fa-quote-right {
    bottom: -6.5rem;
}

.materias .review-slider .box img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    margin-bottom: .7rem;
}


/* CONTATO (antes .book) */

.contato {
    background: url(../image/book-bg.jpg);
    background-position: center;
    background-size: cover;
}

.contato form {
    margin: 0 auto 2rem auto;
    max-width: 60rem;
    border-radius: var(--border-radius-hover);
    padding: 3rem;
    border: var(--border);
}

.contato form .box {
    width: 100%;
    padding: 1rem 1.2rem;
    border-radius: .5rem;
    font-size: 1.6rem;
    background: none;
    text-transform: none;
    color: var(--main-color);
    border: var(--border);
    margin: .7rem 0;
}

.contato form textarea {
    height: 15rem;
    resize: none;
}